/* Main Pallete: https://colorhunt.co/palette/79e0ee98eeccd0f5befbffdc */

a {
    color: black;
    text-decoration: none;
}

.row {
    max-width: 100%;
}

.header {
    padding: 0 30px;
    background: #79E0EE;
    border-bottom: 4px solid white;

}

.header-item {
    font-size: 20px;
}

.main {
    background: #98EECC;
    min-height: 85vh;
}

.footer {
    background: black;
    min-height: 15vh;
}

/* Main Page */
.posts {
    padding: 20px;
    margin-left: 10vh;
}

.post {
    background: #D0F5BE;
    margin-top: 25px;
    margin-left: 15px;
    padding: 15px;
    border: 4px double #FBFFDC;
    border-radius: 20px;
}

.post-title {
    font-size: 30px;
}

.post-content {
    font-size: 20px;
}

.post-image {
    max-height: 1000px;
    max-width: 100%;
}

.post-source {
    font-size: 15px;
    color: #9BA4B5;
}

.post-info {
    text-align: right;
}

.post-author, .post-date {
    font-size: 15px;
}

.post-date {
    color: #9BA4B5;
}

.btn-info {
    background: #FBFFDC;
    margin-top: 10px;
}

.btn-info:hover {
    background: #98EECC;
}

/* Login Page */
.login-form {
    background: #D0F5BE;
    padding: 15px 30%;
}


/* Profile Page */
.profile {
    margin-left: 40%;
}

.profile-image {
    height: 250px;
    width: 250px;
}
