{% extends "template.html" %}

{% block main %}
<div class="row align-center-items">
    <div class="post col"><p><h1>Перед регистрацией на сайте проверьте сертификат и домен на случай фишинга. Также, используйте сложные пароли из 12+ символов разных регистров, цифр и знаков </h1><p><h1 class="text-end">С уважением, команда РегионАК</h1></div>
    <div class="col post">
        <form class="login-form" action="/register" method="post" name="register">
            <h1 class="text-center">Регистрация</h1>
            <div class="mb-3">
                <label for="username" class="form-label">Имя пользователя</label>
                <input name="username" class="form-control" id="username" type="text" placeholder="Ivan245" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-Mail</label>
                <input name="email" class="form-control" id="email" type="email" placeholder="ivan@ivanov.com" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input name="password" class="form-control" id="password" type="password" placeholder="12345678IsBadPassword!" required>
            </div>
            <div class="mb-3">
                <label for="cpassword" class="form-label">Подтверждение пароля</label>
                <input name="cpassword" class="form-control" id="cpassword" type="password" placeholder="12345678IsBadPassword!" required>
            </div>
            <button class="btn btn-primary mb-3" type="submit">Вход</button>
            {% if get_flashed_messages() %}
                {% for i in get_flashed_messages() %}
                    <div class="alert alert-danger"  role="alert">
                        {{ i }}
                    </div>
                {% endfor %}
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}